body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #aa0000;
	padding: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

form {
	background-color: #96f49e;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
	display: inline-block;
	margin-right: 10px;
}

select {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

textarea {
	height: 150px;
}

input[type="file"] {
	display: block;
	margin-bottom: 20px;
}

input[type="submit"] {
	display: block;
	margin-top: 20px;
	padding: 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
